.img-thumbnail {
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 300px;
}

#btn-search {
  display: block;
  margin: -10px auto;
}


body {
    padding-top: 70px; /* Compulsory for bootstrap fixed navbar */
    font-family: "Open Sans", Helvetica, sans-serif;
}
